* {
    /* Свойства для сброса начальных стилей элементов */
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

header {
    /* Стили для хедера */
    background-color: #2965F1;
    font-weight: 20px;
    font-size: 1440px;
    color:rgb(48, 48, 48);
}

header span {
    /* Стили для текста в хедере IT-INCUBATOR */
    color: #fff;
    -webkit-text-stroke-color: 1px #000000;
    font-weight: 700px;
    font-size: 20px;
    text-align: justify;
}

.main-section {
    /* Стили для первой секции */
    background-color:  #fafaff;
    font-weight: 1440px;
    font-size: 1024px;
    padding: 60px 0px;
    min-height: auto;
}

.main-title {
    /* Стили для заголовка в первой секции */
    color: #303030 ;
    font-weight: bold;
    stroke: #000000;
    width: 700px;
    font-size: 48px;
    padding-top: 20px;
    margin-bottom: auto;
}

.main-text {
    /* Стили для текста в первой секции */
    color: #303030;
    font-weight: bold;
    font-size: 18px;
    stroke: #000000;
}

.main-image {

    /* Стили для изображения в первой секции */
    color: #fafaff;
    max-width: 715px;
}

.about-section {
    /* Стили для второй секции */
    font-weight: 1440px;
    font-size: 883px;
    padding: 100px 0px;
    border-color: #fff;
}

select {
    /* Стили для выпадающего списка */
    font-weight: 150px;
    font-size: 36px;
    margin-top: 60px;
    border: #303030 ;
    border-radius: 0;
    background-repeat: no-repeat;
    padding: 60px;
    color: #303030;
}

.section-title {
    /* Стили для заголовков во второй секции */
    font-weight: 700;
    font-size: 24px;
    color: #303030;
    margin-top: 0;
    margin-bottom: 25px;
}

.frameworks-list {
    /* Стили для маркированного списка во второй секции */
    background-color: #fff;
    list-style-image: url(assets/images/solar_map-arrow-up-bold.png);
    padding-left: 20px;
}

.books-list {
    /* Стили для нумерованного списка во второй секции */
    background-color: #fff;
    padding-left: 0px 20px;
    font-weight: 400px;
    font-size: 20px;
}

.label {
    /* Стили для подписей чекбоксов */
    background-color: #fff;
    font-size: 16px;
}

.text-field {
    /* Стили для односточного поля ввода текста */
    font-weight: 330px;
    font-size: 16px;
}

.btn {
    /* Стили для кнопки */
    font-weight: 125px;
    font-size: 36px;
    background-color: #2965f1;
    color:rgb(255, 255, 255) ;
}

.line {
    /* Стили для линии */
    border: 1px solid rgba(48, 48, 48, 0.3);
    font-weight: 1440px;
    font-size: 0px;
    margin: 60px 0px;
}

table {
    /* Стили для таблицы */
    border-collapse: collapse;
    font-weight: 300px;
    font-size: 196px;
}

th,
td {
    /* Стили для ячеек таблицы */
    border: solid #95A1BB;
    padding: 12px 15px;
    text-align: center;
}

footer {
    /* Стили для футера */
    background-color: #A3A7FF4D;
    font-weight: 1440px;
    font-size: 70px;
    padding: 26px;
}

.footer-link {
    /* Стили для футера */
    font-weight: 78px;
    font-size: 14px;
    text-decoration: none;
    text-decoration-color: #FAFAFF;
    align-items: center;
}